body {
  background-color: red;
 
}

h1, h2, h3{
  font-size: xx-large;
  color: gold;
  padding: 10px;
  font-style: oblique;
}
li {
  color: aliceblue;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant-caps: titling-caps;
}